@import "tailwindcss";

/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* Playfair */
@font-face {
  font-family: "Playfair";
  src: url("./assets/fonts/playfair/Playfair-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("./assets/fonts/playfair/Playfair-Italic-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@theme inline {
  /* Pastel Pink Shades */
  --color-pastel-pink-50: #ffffff;
  --color-pastel-pink-100: #fff6f6;
  --color-pastel-pink-200: #ffebec;
  --color-pastel-pink-300: #ffe0e1;
  --color-pastel-pink-400: #ffd5d6;
  --color-pastel-pink-500: #ffdbdc;
  --color-pastel-pink-600: #e5c5c6;
  --color-pastel-pink-700: #ccb0b1;
  --color-pastel-pink-800: #b39a9b;
  --color-pastel-pink-900: #998485;
  --color-pastel-pink-950: #8c7475;

  /* Carbon Blue Shades */
  --color-carbon-blue-50: #383870;
  --color-carbon-blue-100: #333366;
  --color-carbon-blue-200: #2e2e5c;
  --color-carbon-blue-300: #292952;
  --color-carbon-blue-400: #242448;
  --color-carbon-blue-500: #1c1c4a;
  --color-carbon-blue-600: #191942;
  --color-carbon-blue-700: #151538;
  --color-carbon-blue-800: #11112e;
  --color-carbon-blue-900: #0e0e24;
  --color-carbon-blue-950: #0b0b1e;

  /* Fonts */
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "Playfair", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: theme("screens.lg");
  margin-left: auto;
  margin-right: auto;
  padding-left: theme("spacing.4");
  padding-right: theme("spacing.4");
}

.flow > * + * {
  margin-top: theme("spacing.4");
}
